:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-top: 10vmin;
  color: white;
  background-size: cover;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.4);
    box-shadow: 0 0 50px rgba(#000, 0.3) inset;
  }
}

header {
  text-align: center;
  color: rgba(#fff, 0.8);
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 10px;
}

h3 {
  font-weight: 100;
  margin-top: 0;
  font-style: italic;
}
