:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatars {
  display: flex;
}

.avatar {
  $size: 10vmin;
  width: $size;
  height: $size;
  margin: 1.5vmin;
  border-radius: $size;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  will-change: transform;
  opacity: 0.8;
  img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
  }
  &:hover,
  &.active {
    transform: scale(1.2);
  }
  &.active {
    opacity: 1;
  }
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
