<main [@routerTransition]="getState(outletRef)">
  <router-outlet #outletRef="outlet"></router-outlet>
</main>

<div class="avatars" [style.transform]="getAvatarsTransform()">
  <div *ngFor="let person of people" routerLinkActive="active"
       class="avatar" id="person_{{person.id}}">
    <div class="zoom-wrapper" routerLinkActive="zoomed">
      <a routerLink="/{{person.id}}" routerLinkActive="jello" class="animated">
        <img src="https://api.adorable.io/avatars/285/{{person.email}}" alt="">
      </a>
    </div>
  </div>
</div>
