:host {
  position: relative;
  top: 20px;
  height: 500px;
  width: 420px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: solid 10px rgba(#fff, 0.15);
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(#000, 0.4);
}

.avatars {
  margin-top: 250px;
  display: flex;
  z-index: 2;
}

.avatar {
  $size: 40px;
  width: $size;
  height: $size;
  margin: $size / 8;
  border-radius: $size;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  will-change: transform;
  opacity: 0.8;
  border: solid 2px transparent;
  img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
  }
  &:hover,
  &.active {
    transform: scale(1.1);
  }
  &.active {
    opacity: 1;
    transition-delay: 200ms;
    transform: scale(1.1);
    border: solid 2px rgba(#fff, 0.7);
  }
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
